</div> <!-- end div containerContent -->
<!-- START OF FOOTER -->
		<div id="footer">
		
			<div>
			
				<?php if ($home) {  // This is what gets printed on the home page only
				?>
					<?php print_container_start(true, '', ''); ?>
				
						<div ><?php echo $menu ?></div>
					<?php print_container_end(); ?>
				
				<?php } else if ($heading) {  // This is what gets printed on any other page
				?>
					<?php print_container_start(true, '', ''); ?>
				
				<div ><?php echo $loggedinas ?></div>        
				<div ><?php echo $menu ?></div>
					<?php print_container_end(); ?>
				<?php } ?>
			
			</div>
		</div>
</body>
</html>
